---
import Layout from "@/layouts/Layout.astro"

import Navbar from "@/components/Navbar.astro"

import { perfil } from "@cv"

const { nombre, descripcionCorta } = perfil
---

<Layout title={`Portafolio de ${nombre} - ${descripcionCorta}`}>
	<main>
		<Navbar />
	</main>
</Layout>
  
  <style>
	main {
	  padding: 4rem;
	  margin: auto;
	  width: 100%;
	}
  
	@media (width <= 700px) {
	  main {
		padding: 2rem;
	  }
	}
  </style>